@font-face {
  font-family: "InterDisplay";
  src: url("../fonts/InterDisplay-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "InterDisplay";
  src: url("../fonts/InterDisplay-LightItalic.ttf") format("truetype");
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: "InterDisplay";
  src: url("../fonts/InterDisplay-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "InterDisplay";
  src: url("../fonts/InterDisplay-Italic.ttf") format("truetype");
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: "InterDisplay";
  src: url("../fonts/InterDisplay-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "InterDisplay";
  src: url("../fonts/InterDisplay-MediumItalic.ttf") format("truetype");
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: "InterDisplay";
  src: url("../fonts/InterDisplay-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "InterDisplay";
  src: url("../fonts/InterDisplay-SemiBoldItalic.ttf") format("truetype");
  font-weight: 600;
  font-style: italic;
}

@font-face {
  font-family: "InterDisplay";
  src: url("../fonts/InterDisplay-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "InterDisplay";
  src: url("../fonts/InterDisplay-BoldItalic.ttf") format("truetype");
  font-weight: 700;
  font-style: italic;
}

@font-face {
  font-family: "InterDisplay";
  src: url("../fonts/InterDisplay-ExtraBold.ttf") format("truetype");
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: "InterDisplay";
  src: url("../fonts/InterDisplay-ExtraBoldItalic.ttf") format("truetype");
  font-weight: 800;
  font-style: italic;
}


// font
$font-family: 'InterDisplay', sans-serif;

// light color variable
$sidebarbg: white;
$background: $bg-gray;
$cardbg: white;
$toolbar: white;
$cardshadow: rgb(145 158 171 / 30%) 0px 0px 2px 0px, rgb(145 158 171 / 12%) 0px 12px 24px -4px;
$hoverBgColor: #f6f9fc;

// Dark color variable
$darksidebarbg: #2a3447;
$darkbackground: #2a3447;
$darkcardbg: #2a3447;
$darktoolbar: #2a3447;
$darkcardshadow: rgba(145, 158, 171, 0.3) 0px 0px 2px 0px, rgba(145, 158, 171, 0.02) 0px 12px 24px -4px;
$darkborderColor: #333f55;
$darkformborderColor: #465670;
$darkhoverbgcolor: #333f55;
$darkthemelightprimary: #253662;
$darkthemelightaccent: #1C455D;
$darkthemelightwarning: #4D3A2A;
$darkthemelighterror: #4B313D;
$darkthemelightsuccess: #1B3C48;

// Sidenav
$sidenav-desktop: 270px !default;
$sidenav-mini: 80px !default;
$header-height: 70px !default;


//BorderColor
$borderColor: #e5eaef;
$borderformColor: #dfe5ef;

// custom
$primary: #5d87ff;
$accent: #49beff;
$warning: #ffae1f;
$error: #fa896b;
$success: #13deb9;
$white: #ffffff;

$light: #f2f6fa;

$gray-100: #7c8fac;

$light-primary: #ecf2ff;
$light-accent: #e8f7ff;
$light-warning: #fef5e5;
$light-error: #fdede8;
$light-success: #e6fffa;

//
// Color system
//

$white: #fff !default;
$bg-gray: #F3F5FB !default;
$gray-100: #ECF2FF !default;
$gray-200: #fcfcfc !default;
$gray-300: #dee2e6 !default;
$gray-400: #ced4da !default;
$gray-500: #5A6A85 !default;
$gray-600: #777e89 !default;
$gray-700: #495057 !default;
$gray-800: #343a40 !default;
$gray-900: #11142d !default;
$black: #000 !default;

$secondary-25: #FCFCFD !default;
$secondary-50: #F9FAFB !default;
$secondary-100: #F9FAFB !default;
$secondary-200: #EAECF0 !default;
$secondary-300: #D0D5DD !default;
$secondary-400: #98A2B3 !default;
$secondary-500: #667085 !default;
$secondary-600: #475467 !default;
$secondary-700: #344054 !default;
$secondary-800: #1D2939 !default;
$secondary-900: #101828 !default;

$blue-25: #F6F8FF !default;
$blue-50: #EEF2FF !default;
$blue-100: #E4EAFF !default;
$blue-200: #6C7DFF !default;
$blue-300: #5D54FB !default;
$blue-400: #544CE2 !default;
$blue-500: #4A43C9 !default;
$blue-600: #463FBC !default;
$blue-700: #383297 !default;
$blue-800: #2A2671 !default;
$blue-900: #211D58 !default;

$green-25: #F6FEF9 !default;
$green-50: #E8F7F1 !default;
$green-100: #B8E7D2 !default;
$green-200: #95DCBC !default;
$green-300: #65CC9E !default;
$green-400: #47C28B !default;
$green-500: #19B36E !default;
$green-600: #17A364 !default;
$green-700: #127F4E !default;
$green-800: #0E623D !default;
$green-900: #0B4B2E !default;

$red-25: #FFFAFA !default;
$red-50: #FEEEEE !default;
$red-100: #FDCACA !default;
$red-200: #FCB1B1 !default;
$red-300: #FB8D8D !default;
$red-400: #FA7777 !default;
$red-500: #F95555 !default;
$red-600: #E34D4D !default;
$red-700: #B13C3C !default;
$red-800: #892F2F !default;
$red-900: #692424 !default;

$yellow-25: #FFFCF5 !default;
$yellow-50: #FFFAEB !default;
$yellow-100: #FEEFC7 !default;
$yellow-200: #FEDF89 !default;
$yellow-300: #FEC84B !default;
$yellow-400: #FDB022 !default;
$yellow-500: #F79009 !default;
$yellow-600: #DC6803 !default;
$yellow-700: #B54708 !default;
$yellow-800: #93370D !default;
$yellow-900: #792E0D !default;

$blue: #544CE2 !default;
$indigo: #7C5CFC !default;
$purple: #5E43D8 !default;
$pink: #d63384 !default;
$red: $red-500 !default;
$orange: $yellow-600 !default;
$yellow: $yellow-400 !default;
$green: $green-500 !default;
$teal: #51FFF3 !default;
$cyan: #7EC2FF !default;

// Main Colors
$primary: $blue !default;
$secondary: $secondary-200 !default;
$success: $green !default;
$info: $cyan !default;
$warning: $yellow !default;
$danger: $red !default;
$light: $gray-100 !default;
$muted: $gray-500 !default;
$dark: $gray-900 !default;


// layout
$boxedWidth: 1200px;

$border-radius: 7px;

// text color
$textPrimary: #2a3547;

// Typography
//
// Font, line-height, and color for body text, headings, and more.

$font-size-base: 0.875rem;
$font-family-sans-serif: 'Inter Display', sans-serif !default;
$font-weight-light: 300 !default;
$font-weight-normal: 400 !default;
$font-weight-medium: 500 !default;
$font-weight-semibold: 600 !default;
$font-weight-bold: 700 !default;
$font-weight-extrabold: 800 !default;

$h1-font-size: 36px !default;
$h2-font-size: 30px !default;
$h3-font-size: 24px !default;
$h4-font-size: 18px !default;
$h5-font-size: 16px !default;
$h6-font-size: 14px !default;

$h1-letter-spacing: -0.03rem !default;
$h2-letter-spacing: -0.03rem !default;
$h3-letter-spacing: -0.03rem !default;
$h4-letter-spacing: -0.15rem !default;
$h5-letter-spacing: -0.15rem !default;
$h6-letter-spacing: normal !default;

// Buttons
$btn-secondary-border: $gray-300;

// Border Radius
$border-radius: 7px !default;
$border-radius-sm: 8px !default;
$border-radius-md: 10px !default;
$border-radius-lg: 15px !default;

// Define common padding and border radius sizes and more.
$border-width: 1px !default;
$border-color: #e5eaef !default;

// Card
$card-spacer-y: 30px !default;
$card-spacer-x: 30px !default;
$card-border-width: 0px !default;
$card-border-radius: 15px !default;

// Common
$min-contrast-ratio: 1.7 !default;

// Box Shadow
$box-shadow: 0px 15px 30px rgba(0, 0, 0, 0.12) !default;

// Buttons
$btn-padding-y: 6px;
$btn-padding-x: 16px;
$btn-font-weight: $font-weight-normal;
$btn-border-radius: 7px;

//offcanvas width
$offcanvas-horizontal-width: 270px;

html {
  --mat-expansion-container-shape: 12px !important;
  --mat-form-field-container-height: 37px !important;
  --mdc-elevated-card-container-shape: 12px !important;
  --mdc-elevated-card-container-shape: 12px !important;
  --mat-standard-button-toggle-selected-state-background-color: #f2f6fa !important;
  --mat-standard-button-toggle-selected-state-text-color: #526b7a !important;
  --mdc-switch-unselected-handle-color: #29343d !important;
  --mdc-switch-unselected-hover-handle-color: #29343d !important;
  --mdc-switch-unselected-focus-handle-color: #29343d !important;
  --mdc-switch-unselected-track-color: #bdc3cd !important;
  --mdc-switch-unselected-hover-state-layer-color: #f2f6fa !important;
  --mat-stepper-header-icon-background-color: #7c8fac !important;
  --mat-stepper-header-hover-state-layer-color: #f2f6fa !important;
  --mat-expansion-header-hover-state-layer-color: #f2f6fa !important;
  --mat-expansion-header-focus-state-layer-color: #f2f6fa !important;
  --mat-icon-button-state-layer-color: #635bff !important;
  --mat-icon-button-hover-state-layer-opacity: 0.09 !important;
  --mdc-snackbar-container-color: #29343d !important;
  --mdc-outlined-button-disabled-outline-color: rgb(226 236 249) !important;
  --mdc-outlined-button-disabled-label-text-color: #7c8fac !important;
  --mat-text-button-disabled-container-color: rgb(226 236 249) !important;
  --mdc-filled-button-disabled-container-color: rgb(226 236 249) !important;
  --mdc-protected-button-disabled-container-color: rgb(226 236 249) !important;
  --mat-fab-disabled-state-container-color: rgb(226 236 249) !important;
  --mdc-list-list-item-leading-icon-color: #526b7a !important;
  --mdc-list-list-item-hover-leading-icon-color: #526b7a !important;

  .mat-mdc-tooltip .mdc-tooltip__surface {
    --mdc-plain-tooltip-container-color: #29343d !important;
  }

  .mat-mdc-button .mat-mdc-button-persistent-ripple::before {
    --mat-text-button-state-layer-color: #f2f6fa !important;
  }

  .mat-mdc-standard-chip {
    --mdc-chip-elevated-container-color: #f2f6fa !important;
    --mdc-chip-elevated-disabled-container-color: #f2f6fa !important;
    --mdc-chip-flat-disabled-selected-container-color: #f2f6fa !important;
  }

  .mat-mdc-form-field-infix {
    --mat-form-field-container-height: 37px;
    --mat-form-field-container-vertical-padding: 8px;
  }

  .mat-mdc-tab-header {
    --mat-tab-header-inactive-label-text-color: #29343d;
    --mat-tab-header-label-text-weight: 500;
  }

  .mat-mdc-radio-button .mdc-radio .mdc-radio__background::before {
    --mat-radio-ripple-color: #f2f6fa !important;
  }

  .mdc-list-item:focus::before {
    --mdc-list-list-item-focus-state-layer-color: #f2f6fa !important;
  }
}

:root {
  --mat-divider-color: #dfe5ef;
}

.mat-mdc-nav-list .mat-mdc-list-item {
  --mat-list-active-indicator-shape: 0;
}

.mat-mdc-tooltip {
  --mdc-plain-tooltip-container-shape: 12px;
}

.mat-mdc-card {
  --mdc-elevated-card-container-shape: 12px;
}

.mdc-checkbox:hover .mdc-checkbox__ripple {
  --mdc-checkbox-unselected-hover-state-layer-opacity: 1;
  --mdc-checkbox-unselected-hover-state-layer-color: #f2f6fa;
}

.mdc-button {
  --mdc-filled-button-container-shape: 7px;
  --mdc-text-button-container-shape: 7px;
  --mdc-protected-button-container-shape: 7px;
  --mdc-outlined-button-container-shape: 7px;
  --mat-standard-button-toggle-shape: 7px;
}

.mdc-text-field {
  --mdc-outlined-text-field-container-shape: 7px;
  --mdc-outlined-text-field-outline-color: #dfe5ef;
  --mdc-outlined-text-field-input-text-color: #29343d;
}

.mat-mdc-menu-panel {
  --mat-menu-container-shape: 12px;
}

.mdc-list-item:hover::before {
  --mdc-list-list-item-hover-state-layer-opacity: 0.09;
}

.mat-mdc-mini-fab {
  --mat-fab-small-foreground-color: #29343d;
}
