.mat-subtitle-2,
.mat-subtitle-1,
.mat-headline-5,
.mat-headline-6,
.mat-subtitle-1,
.mat-subtitle-2,
.mat-body-1,
.mat-body-2 {
  color: $textPrimary;
}

.mat-headline-1 {
  $font-family-sans-serif: 'InterDisplay', sans-serif !default;
  font-size: $h1-font-size;
  letter-spacing: $h1-letter-spacing;
}

.mat-headline-2 {
  $font-family-sans-serif: 'InterDisplay', sans-serif !default;
  font-size: $h2-font-size;
  letter-spacing: $h2-letter-spacing;
}

.mat-headline-3 {
  $font-family-sans-serif: 'InterDisplay', sans-serif !default;
  font-size: $h3-font-size;
  letter-spacing: $h3-letter-spacing;
}

.mat-headline-4 {
  $font-family-sans-serif: 'InterDisplay', sans-serif !default;
  font-size: $h4-font-size;
  letter-spacing: $h4-letter-spacing;
}

.mat-headline-5 {
  $font-family-sans-serif: 'InterDisplay', sans-serif !default;
  font-size: $h5-font-size;
  letter-spacing: $h5-letter-spacing;
}

.mat-headline-6 {
  $font-family-sans-serif: 'InterDisplay', sans-serif !default;
  font-size: $h6-font-size;
  letter-spacing: $h6-letter-spacing;
}


// Use the default configuration.
$theme-typography: mat.m2-define-typography-config($font-family: $font-family-sans-serif,
$subtitle-2: mat.m2-define-typography-level(14px, 14px, 400),
$subtitle-1: mat.m2-define-typography-level(21px, 26px, 500),
$headline-6: mat.m2-define-typography-level(18px, 26px, 600),
$headline-5: mat.m2-define-typography-level(24px, 30px, 600),
$button: mat.m2-define-typography-level(14px, 14px, 400),
$body-1: mat.m2-define-typography-level(14px, 20px, 400),
$body-2: mat.m2-define-typography-level(16px, 22px, 400),
);

.mat-headline-5 {
  @include mat.m2-typography-level($theme-typography, "headline-5");
  margin: 0;
  color: $textPrimary;
}

.mat-headline-6 {
  @include mat.m2-typography-level($theme-typography, "headline-6");
  margin: 0;
  color: $textPrimary;
}

.mat-subtitle-2 {
  @include mat.m2-typography-level($theme-typography, "subtitle-2");
  margin: 0;
  color: $textPrimary;
}

.mat-subtitle-1 {
  @include mat.m2-typography-level($theme-typography, "subtitle-1");
  margin: 0;
  color: $textPrimary;
}

.mat-body-1 {
  @include mat.m2-typography-level($theme-typography, "body-1");
  margin: 0;
  color: $textPrimary;
}

.mat-body-2 {
  @include mat.m2-typography-level($theme-typography, "body-2");
  margin: 0;
  color: $textPrimary;
}

.mdc-list-item__primary-text,
.mat-drawer-container,
.mat-drawer {
  color: $textPrimary;
}

.lt-03 {
  letter-spacing: -0.03rem;
}

.lt-15 {
  letter-spacing: -0.15rem;
}

h1 {
  font-size: $h1-font-size;
  letter-spacing: $h1-letter-spacing;
  line-height: $heading-line-height;
}

h2 {
  font-size: $h2-font-size;
  letter-spacing: $h2-letter-spacing;
  line-height: $heading-line-height;
}

h3 {
  font-size: $h3-font-size;
  letter-spacing: $h3-letter-spacing;
  line-height: $heading-line-height;
}

h4 {
  font-size: $h4-font-size;
  letter-spacing: $h4-letter-spacing;
  line-height: $heading-line-height;
}

h5 {
  font-size: $h5-font-size;
  letter-spacing: $h5-letter-spacing;
  line-height: $heading-line-height;
}

h6 {
  font-size: $h6-font-size;
  letter-spacing: $h6-letter-spacing;
  line-height: $heading-line-height;
}
